WebContent/wsdl/BmrClass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server" xmlns:intf="http://server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="generateBmr">
    <complexType>
     <sequence>
      <element name="weight" type="xsd:double"/>
      <element name="height" type="xsd:double"/>
      <element name="gender" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateBmrResponse">
    <complexType>
     <sequence>
      <element name="generateBmrReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateBmrResponse">

      <wsdl:part element="impl:generateBmrResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateBmrRequest">

      <wsdl:part element="impl:generateBmr" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BmrClass">

      <wsdl:operation name="generateBmr">

         <wsdl:input message="impl:generateBmrRequest" name="generateBmrRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateBmrResponse" name="generateBmrResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BmrClassSoapBinding" type="impl:BmrClass">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="generateBmr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateBmrRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateBmrResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BmrClassService">

      <wsdl:port binding="impl:BmrClassSoapBinding" name="BmrClass">

         <wsdlsoap:address location="http://localhost:8080/DynamicWebProject/services/BmrClass"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
